<?xml version='1.0' encoding='utf-8'?>
<plugin id="youprinter" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>youPrinter</name>
    <js-module name="youPrinter" src="www/youPrinter.js">
        <clobbers target="youPrinter" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="youPrinter">
                <param name="android-package" value="org.apache.cordova.youprinter.youPrinter" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml">
            <!-- <uses-feature android:name="android.hardware.usb.host" android:required="true"/> -->
            <uses-permission android:name="android.permission.BLUETOOTH" />
            <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
            <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
            <uses-permission android:name="android.hardware.usb.UsbAccessory" />
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <service android:enabled="true" android:name="net.posprinter.service.PosprinterService" />
        </config-file>
            <source-file src="src/android/youPrinter.java" target-dir="src/org/apache/cordova/youPrinter" />
            <source-file src="src/android/CardBean.java" target-dir="src/org/apache/cordova/youPrinter" />
            <source-file src="src/android/BomBean.java" target-dir="src/org/apache/cordova/youPrinter" />
            <source-file src="src/android/ListUtils.java" target-dir="src/org/apache/cordova/youPrinter" />
            <source-file src="src/android/StringUtils.java" target-dir="src/org/apache/cordova/youPrinter" />
            <source-file src="src/android/NumberUtils.java" target-dir="src/org/apache/cordova/youPrinter" />
            <lib-file src="libs/PosPrinterSDK.jar" />
            <lib-file src="libs/fastjson-1.2.47.jar" />
        <!-- <source-file src="src/android/youPrinter.java" target-dir="src/org/apache/cordova/youPrinter" />
        <lib-file src="src/android/printer-lib-3.1.4.aar" />
        <framework src="src/android/youprinter.gradle" custom="true" type="gradleReference"/> -->
    </platform>
</plugin>